.section05 {
  @extend %section-rules;
  margin-top: 36px;
  &-text__title{
    font-family: Acrom,sans-serif;
    font-size: 11px;
    margin: auto;
    width: 132px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  &-text__capture{
    font-family: Acrom,sans-serif;
    font-size: 11px;
    margin-left: 83px;
    width: 188px;
    margin-top: 6px;
    position: relative;
    margin-bottom: 26px;
    font-weight: bold;
  }
  &-text__capture::after{
    width: 14px;
    height: 2px;
    background: $black;
    content: "";
    position: absolute;
    top: 20%;
    right: 110%;
  }
  &-text__subtitle{
    text-transform: uppercase;
    margin-left: 50px;
    position: relative;
    font-weight: 900;
    color: $dark-grey;
    font-family: Acrom,sans-serif;
    margin-bottom: 7px;
  }
  &-text__subtitle::after{
    width: 4px;
    height: 4px;
    background: $black;
    content: "";
    position: absolute;
    top: 35%;
    right: 105%;
  }
  &-text__subcapture{
    font-size: 11px;
    margin: auto;
    margin-left: 50px;
    width: 213px;
    text-align: left;
    margin-bottom: 11px;
  }
  @media (min-width: 480px) and (max-width:767px) { 
    .section05 { 
      margin-top: 55px;
    &-text__title{
      width: 200px;
    }
    &-text__capture{
      margin: auto;
      margin-bottom: 26px;
    }
    &-text__subtitle{
      margin-left: 25%;
    }
    &-text__subcapture{
      margin-left: 25%;
    }
  }
}
  @media (min-width: 768px) and (max-width:959px) {
    .section05 { 
      &-text{
        position: relative;
        margin-top: 95px;
      }
      &-text__img320{
        background-image: url('../img/sec05-768-oon.png');
        height: 100%;
        width: 100%;
        position: absolute;
        top: 2%;
        background-repeat: no-repeat;
      }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        &-text__img320 {
          background: url('../img/sec05-768-oon@2x.png') no-repeat;
        }
      }
      &-text__title{
        width: 294px;
        font-size: 26px;
        margin-top: 56px;
        margin-right: 82px;
      }
      &-text__capture{
        margin: auto;
        margin-left: 49%;
        margin-bottom: 26px;
      }
      &-text__capture::after{
        width: 29px;
        height: 4px;
      }
      &-text__subtitle{
        margin-left: 45%;
      }
      &-text__subcapture{
        margin-left: 45%;
        width: 250px;
      } 
    }
  }
  @media (min-width: 960px) and (max-width:1199px) {
    .section05 { 
      &-text{
        position: relative;
        margin-top: 118px;
      }
      &-text__img320{
        background-image: url('../img/sec05-960-oon.png');
        height: 100%;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        left: 7%;
        top: 2%;
      }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        &-text__img320 {
          background: url('../img/sec05-960-oon@2x.png') no-repeat;
        }
      }
      &-text__title{
        width: 366px;
        font-size: 33px;
        margin-top: 56px;
        margin-left: 435px;
      }
      &-text__capture{
        margin-left: 61%;
        font-size: 12px;
        margin-bottom: 50px;
      }
      &-text__capture::after{
        width: 36px;
        height: 5px;
      }
      &-text__subtitle{
        margin-left: 58%;
        font-size: 11px;
        width: 248px;
      }
      &-text__subtitle:after{
        width: 9px;
        height: 10px;
      }
      &-text__subcapture{
        margin-left: 58%;
        width: 234px;
        margin-bottom: 26px;
      } 
    }
  }
@media (min-width: 1200px) and (max-width:1439px) {
  .section05 { 
    &-text{
      margin-top: 123px;
      position: relative;
    }  
    &-text__img320{
      background-image: url('../img/sec05-1200-oon.png');
      height: 100%;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;
      left: 0;
      top: 2%;
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      &-text__img320 {
        background: url('../img/sec05-1200-oon@2x.png') no-repeat;
      }
    }
    &-text__title{
      width: 391px;
      font-size: 35px;
      margin-top: 56px;
      margin-left: 45%;
    }
    &-text__capture{
      margin-left: 53%;
      font-size: 12px;
      margin-bottom: 50px;
    }
    &-text__capture::after{
      width: 36px;
      height: 5px;
    }
    &-text__subtitle{
      margin-left: 48%;
      font-size: 11px;
      width: 260px;
    }
    &-text__subtitle:after{
      width: 10px;
      height: 10px;
    }
    &-text__subcapture{
      margin-left: 48%;
      width: 234px;
      margin-bottom: 26px;
    } 
  }
}
@media (min-width: 1440px) {
  .section05 { 
    &-text{
      margin-top: 150px;
      position: relative;
    }
    &-text__img320{
      background-image: url('../img/sec05-1440-oon.png');
      height: 101%;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;
      left: 0;
      top: 1%;
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      &-text__img320 {
        background: url('../img/sec05-1440-oon@2x.png') no-repeat;
      }
    }
    &-text__title{
      width: 391px;
    font-size: 35px;
    margin-top: 56px;
    margin-left: 50%;
    }
    &-text__capture{
      margin-left: 58%;
      font-size: 12px;
      margin-bottom: 50px;
    }
    &-text__capture::after{
      width: 36px;
      height: 5px;
    }
    &-text__subtitle{
      margin-left: 53%;
      font-size: 11px;
      width: 248px;
    }
    &-text__subtitle:after{
      width: 10px;
      height: 10px;
    }
    &-text__subcapture{
      margin-left: 53%;
      font-size: 12px;
      width: 234px;
      margin-bottom: 26px;
    } 
  }
 }
}

