$orange: rgba(255, 107, 8, 1);
$mint: rgba(46, 211, 228, 1);
$dark-blue: rgba(24, 28, 39, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$grey: rgba(162, 162, 162, 1);
$dark-grey: rgba(32, 32, 32, 1);
$foot-grey: rgba(101, 102, 106, 1);



$text-color: rgba(63, 65, 68, 1);